arcade==2.6.17
asgiref==3.7.2
attrs==23.1.0
beautifulsoup4==4.12.2
cffi==1.15.1
cycler==0.11.0
dj-database-url==2.1.0
Django==3.2.2
django-bootstrap-v5==1.0.11
django-environ==0.11.2
django-filter==23.3
fonttools==4.39.3
gunicorn==21.2.0
kiwisolver==1.4.4
MonashUE1013==1.10.3
packaging==23.0
Pillow==9.3.0
psycopg2-binary==2.9.9
pycparser==2.21
pyglet==2.0.dev23
pymata4==1.15
pymunk==6.4.0
pyparsing==3.0.9
pyserial==3.5
python-dateutil==2.8.2
pytiled-parser==2.2.0
PyYAML==6.0
serpy==0.3.1
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
